<a href="https://colab.research.google.com/github/Zenith1618/Learn-PySpark/blob/main/1_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

### Establishing Spark Session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

here we are just creating 1 cluster but in cloud we can have multiple clusters for parallel processing

In [5]:
spark

### Loading csv in Spark

In [6]:
df_pyspark = spark.read.csv('test1.csv')

In [8]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

here we lost the column name, so in order to solve

In [17]:
spark.read.option('header', 'true').csv('test1.csv').show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [18]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.head()

Row(Name='Krish', age='31')

If you want to see more information, like df.info()

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)