<a href="https://colab.research.google.com/github/Zenith1618/Learn-PySpark/blob/main/2_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Starting Session

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

### Read the Dataset

In [5]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

### Check the Schema

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

If you check age, experience and Salary, all are inferred as string, as thats the default for pyspark, so in order to have the right variable assigned, we will

In [7]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

OR

In [9]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Selecting Columns and Indexing

In [11]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [12]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

Here we get data in form of list Data structure

In [13]:
df_pyspark.select('Name')

DataFrame[Name: string]

return type is Dataframe with data structure as "String"

In [14]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [15]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [17]:
df_pyspark['Name'].show()

TypeError: 'Column' object is not callable

Cant do like what pandas

In [18]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

### Adding Columns

In [23]:
df_pyspark.withColumn('Experience After 5 Years', df_pyspark['Experience']+5).show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience After 5 Years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      15|
|Sudhanshu| 30|         8| 25000|                      13|
|    Sunny| 29|         4| 20000|                       9|
|     Paul| 24|         3| 20000|                       8|
|   Harsha| 21|         1| 15000|                       6|
|  Shubham| 23|         2| 18000|                       7|
+---------+---+----------+------+------------------------+

This is not an inplace command

In [22]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Drop the columns

In [24]:
df_pyspark.drop('Experience After 5 Years').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

This command as well is not an inplace command

### Rename the columns

In [25]:
df_pyspark.withColumnRenamed('Name', 'New name').show()

+---------+---+----------+------+
| New name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Not an Inplace Command